.header {
    padding: 60px;
    text-align: center;
    background: #0334b85d;
    color: blue;
    font-size: 30px;
  }
body {
    padding: 60px;
    font-size: 20px;
}
  p{
    text-align: left;
    font-size: smaller;
    color: purple;
  }

  h2 {
      text-align:left;
      color: black  ;
  }